svg {
  max-width: 100%;
  vertical-align: middle;
}

.svg-pi {
  width: 160px;
  height: 160px;
  /* Fix the orientation */
  transform: rotate(-90deg); 
  
}

.svg-pi-track {
  fill: transparent;
}

.svg-pi-indicator {
  stroke: #07c;
  stroke-dasharray: 439.822971502571;
  stroke-linecap: round;
}

.svg-pi-track,
.svg-pi-indicator {
  cx: 80px;
  cy: 80px;
  r: 70px;
  fill: transparent;
  stroke-width: 10px;
}

.svg-pi-text {
  font-weight: bold;
  text-anchor: middle;
  fill: white;
  transform: rotate(90deg); 
}